body{
    background-color:white;
}
.landingPageWrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: repeat(2, 1fr);
    grid-template-areas:
    "name aboutme"
    "pic contact"
}

.picDiv{
    display: grid;
    grid-area: pic;
    text-align: center;
    animation: 10s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
    
}





.aboutMeDiv{
    display: grid;
    grid-area: aboutme;
    color: #192231;
    font-family: 'Oswald';
    font-size: 28px;
    text-align: left;
    margin-left: 100px;
    margin-top: 75px;
}

.nameDiv{
    display: grid;
    grid-area: name;
    text-align: left;
    margin-top: 75px;
    margin-left: 100px;
}


.nameDiv h1{
    color: #192231;
    font-size: 150px;
    margin: 0;
    padding: 0;
    letter-spacing: 10px;
}

.meetH1{
   font-family: 'Source Serif Pro', serif;
   overflow: hidden;
   white-space: no-wrap;
   float: left;
   /* border-right: 5px solid orange; */
   animation: 
        typing 3.5s steps(40, end),
        blinking-cursor .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* @keyframes blinking-cursor {
    from, to { border-color: transparent }
    50% { border-color: orange }
  } */

.liliH1{
    font-family: 'Source Serif Pro', serif;
}
/* #helloText{
    font-family: 'Pacifico';
    font-size: 50px;
    color: #5CDB95;
    margin: 0;
    animation: Hello-Text 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

} */

/* @keyframes Hello-Text {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 25px,25px); }
 
  }

  @keyframes Chat-Text {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 25px,25px); }
 
  } */

/* #contactText{
    font-family: 'Pacifico';
    font-size: 50px;
    color: #FD4531;
    margin-left: 50px;
    margin-top: 0;
    animation: Hello-Text 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

} */

.aboutMeDiv p {
    margin: 0;
    /* animation: 
    typing 3.5s steps(40, end),
    blinking-cursor .5s step-end infinite; */
    animation: 10s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

#animatedHello {
    font-family: 'Oswald';
    cursor: default;
    width: 100%;
    margin: auto;
    display: block;
    animation: 10s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
    letter-spacing: 100;
    margin-bottom: 25px;
  }
  
 #animatedHello span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce 0.5s ease infinite alternate;
    animation-iteration-count:10;
    font-size: 55px;
    color: #192231;
  }
  
  #animatedHello span:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  #animatedHello span:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  #animatedHello span:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  #animatedHello span:nth-child(5) {
    animation-delay: 0.4s;
  }
  
  
  /* ANIMATION */
  @keyframes bounce {
    100% {
      top: -20px;
    }
  }
  
  #animatedContact {
   font-family: 'Oswald';
    cursor: default;
    width: 100%;
    margin: auto;
    display: block;
    animation: 10s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
    letter-spacing: 100;
    margin-bottom: 25px;
  }
  
 #animatedContact span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce 0.5s ease infinite alternate;
    animation-iteration-count:10;
    font-size: 55px;
    color: #192231;
  }
  
  #animatedContact span:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  #animatedContact span:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  #animatedContact span:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  #animatedContact span:nth-child(5) {
    animation-delay: 0.4s;
  }
  #animatedContact span:nth-child(6) {
    animation-delay: 0.5s;
  }
  #animatedContact span:nth-child(7) {
    animation-delay: 0.6s;
  }
  
  
  /* ANIMATION */
  @keyframes bounce {
    100% {
      top: -20px;
    }
  }

  .contactDiv{
    display: inline;
    grid-area: contact;
    color: #192231;
    font-family: 'Oswald';
    font-size: 28px;
    text-align: left;
    margin-left: 100px;
    margin-top: 75px;

      
  }
  .contactDiv a {
      margin-top: 50px;
      margin-right: 50px;
      font-family: 'Pacifico';
      animation: 15s fadeIn;
      animation-fill-mode: forwards;
      
      visibility: hidden;
  }


  .aboutMeDiv a:link {
    color: #DCAE1D;
  }
  
  /* visited link */
  .aboutMeDiv a:visited {
    color: #DCAE1D;
  }
  
  /* mouse over link */
  .aboutMeDiv a:hover {
    color: #192231;
  }
  
  /* selected link */
  .aboutMeDiv a:active {
    color: #DCAE1D;
  }

  .contactDiv img{
      margin-top: 50px;
  }

  .iconLink{
    text-align: left;
  }