.nav {
    display: table;
    height: 87px;
}

nav{
    display:grid;
    grid-area: nav;
    height: 75px;
    background-color: white;
}

nav ul li a {
    text-decoration: none;
    color: #192231;
    font-weight: bold;
    font-family: 'Oswald';
    font-size: 36px;

}
.nav{
    margin-bottom: 0;
}
.nav li {
    display: table-cell;
    height: 75px;
    width: 33.33%;  /* (100 / numItems)% */
    line-height: 75px;
    text-align: center;
    background: white;
    white-space: nowrap;
}
nav ul li a:hover {
    color:#DCAE1D;
    font-weight:bold;
}


@media (max-width: 500px) {
    .nav li {
        display: block;
        width: 100%;
    }
}

.icon{
    color: #DCAE1D;
}